
<div class="app-container">
    <nav>
        <h3 style="color: #aa0000;">Robot</h3>
        <div>
            <button mat-button color="primary" [ngClass]="{'active': isActive('panel')}" [routerLink]="['/panel']">Panel</button>
            <!-- <button mat-button color="primary" [ngClass]="{'active': isActive('prices')}" [routerLink]="['/prices']">Prices</button -->
            <button mat-button color="primary" [ngClass]="{'active': isActive('orders')}" [routerLink]="['/orders']">Orders</button>
            <button mat-button color="primary" [ngClass]="{'active': isActive('settings')}" [routerLink]="['/settings']">Settings</button>
        </div>
    </nav>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
</div>