<div class="panel-container">
    <div class="row">
        <div class="col col-6">
            <mat-card>
                <mat-card-header>
                <mat-card-title>Balance</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <h1>
                        2500.00
                    </h1>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col col-6">
            <mat-card>
                <mat-card-header>
                <mat-card-title>Profit</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <h1>
                        3.59%
                    </h1>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col col-6">
            <mat-card>
                <mat-card-header>
                <mat-card-title>Highest price (24hs)</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <h1>
                        344588.00
                    </h1>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col col-6">
            <mat-card>
                <mat-card-header>
                <mat-card-title>Lowest price (24hs)</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <h1>
                        340109.00
                    </h1>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col col-6">
            <mat-card>
                <mat-card-header>
                <mat-card-title>Volume (24hs)</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <h1>
                        116.30994645
                    </h1>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col col-6">
            <mat-card>
                <mat-card-header>
                <mat-card-title>Opened Orders (24hs)</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <h1>
                        341311.0045
                    </h1>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>