<div class="panel-container">
    <mat-spinner *ngIf="loading; else notLoading" style="margin: 20% auto;"></mat-spinner>
    <ng-template #notLoading>
        <h1>Balances</h1>
        <hr><br>
        <div class="row">
            <div class="col col-3" *ngFor="let balance of accountInfo?.balances">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>{{ balance?.asset }}</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <mat-list>
                            <mat-list-item class="price">{{ balance.free }}</mat-list-item>
                        </mat-list>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
        <br>
        <h1>Prices</h1>
        <hr><br>
        <div class="row">
            <div class="col col-4" *ngFor="let price of prices">
                <mat-card>
                    <mat-card-header>
                    <mat-card-title>{{ price.asset }} (24hs)</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <mat-list>
                            <mat-list-item class="price"><b>BUY:</b>&nbsp;{{ price.ask }}</mat-list-item>
                            <mat-list-item class="price"><b>SELL:</b>&nbsp;{{ price.bid }}</mat-list-item>
                        </mat-list>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </ng-template>
</div>