<div class="panel-container">
    <h1>
        Balances
        <button mat-icon-button color="primary" tooltip="Refresh" aria-label="Refresh" (click)="onRefreshBalances()">
            <mat-icon>refresh</mat-icon>
        </button>
    </h1>
    <hr><br>
    <div class="row" *ngIf="accountInfo$ | async as accountInfo; else loadingAccountInfo">
        <h3 *ngIf="accountInfo.length === 0">Nothing to show.</h3>
        <div class="col col-2" *ngFor="let balance of accountInfo?.balances">
            <mat-card>
                <mat-card-header>
                    <mat-card-title><b>ASSET: </b>{{ balance?.asset }}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <mat-list>
                        <mat-list-item class="price">{{ balance.free }}</mat-list-item>
                    </mat-list>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <ng-template #loadingAccountInfo>
        <mat-spinner style="margin: 0 auto;"></mat-spinner>
    </ng-template>
    <br>
    <h1>
        My Trades
        <button mat-icon-button color="primary" tooltip="Refresh" aria-label="Refresh" (click)="onRefreshHistory()">
            <mat-icon>refresh</mat-icon>
        </button>
    </h1>
    <hr><br>
    <div class="row" *ngIf="orderHistory$ | async as orderHistory; else loadingHistory">
        <h3 *ngIf="orderHistory.length === 0">Nothing to show.</h3>
        <div class="col col-4" *ngFor="let order of orderHistory">
            <mat-card>
                <mat-card-header>
                <mat-card-title><b>SYMBOL: </b>{{ order.symbol }}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <table class="table table-sm table-striped table-hover">
                        <tr class="table-primary">
                            <th>Time</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th>Quote Quantity</th>
                            <th>Comission</th>
                        </tr>
                        <tr *ngFor="let history of order.history">
                            <td>{{ history.time | formatTimestamp }}</td>
                            <td>{{ history.qty }}</td>
                            <td>{{ history.price }}</td>
                            <td>{{ history.quoteQty }}</td>
                            <td>{{ history.commission }} {{ history.commissionAsset }}</td>
                        </tr>
                    </table>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <ng-template #loadingHistory>
        <mat-spinner style="margin: 0 auto;"></mat-spinner>
    </ng-template>
</div>
