

$c-primary-palette: (
    50 : #f7e0e0,
    100 : #ecb3b3,
    200 : #e08080,
    300 : #d34d4d,
    400 : #c92626,
    500 : #c00000,
    600 : #ba0000,
    700 : #b20000,
    800 : #aa0000,
    900 : #9c0000,
    A100 : #ffc7c7,
    A200 : #ff9494,
    A400 : #ff6161,
    A700 : #ff4747,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);

